.custom-select {
    position: relative;
    float: left;
    font-family: Arial, serif;
}

.submit {
    position: relative;
    float: left;
    color: #fff;
    background: #328efd;
    border: none;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    height: 37px;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    background-color: Black;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items li, .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    z-index: 0;

}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items li:hover, .same-as-selected {
    background-color: rgba(50, 50, 50, 1);
}

body {
    margin: 0px;
    padding: 0;
    border: 0;
    min-width: 320px;
    color: #777;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.02em;
}

p, td {
    line-height: 1.5;
}


th, td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    font-size: .9em;
    font-weight: normal;
    border-right: 1px solid #fff;
}

td:first-child {
    white-space: nowrap;
    color: #008000;
    width: 1%;
    font-style: italic;
}

h1, h2, h3 {
    color: #4b4b4b;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    margin: 0 0 1.2em;
}

h1 {
    font-size: 4.5em;
    color: #1f8dd6;
    margin: 0 0 .4em;
}

h2 {
    font-size: 2em;
    color: #636363;
}

h3 {
    font-size: 1.8em;
    color: #4b4b4b;
    margin: 1.8em 0 .8em
}

h4 {
    font: bold 1em sans-serif;
    color: #636363;
    margin: 4em 0 1em;
}

a {
    color: #4e99c7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p, pre {
    margin: 0 0 1.2em;
}

::selection {
    color: #fff;
    background: #328efd;
}

::-moz-selection {
    color: #fff;
    background: #328efd;
}

@media (max-width: 480px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.5em;
    }

    td:first-child {
        white-space: normal;
    }
}

.inline-code {
    padding: 1px 5px;
    background: #eee;
    border-radius: 2px;
}

pre {
    padding: 15px 10px;
    font-size: .9em;
    color: #555;
    background: #edf3f8;
}

pre i {
    color: #aaa;
}

/* comments */
pre b {
    font-weight: normal;
    color: #cf4b25;
}

/* strings */
pre em {
    color: #0c59e9;
}

/* numeric */

/* Pure CSS */
.pure-button {
    margin: 5px 0;
    text-decoration: none !important;
}

.button-lg {
    margin: 5px 0;
    padding: .65em 1.6em;
    font-size: 105%;
}

ul {
    max-height: 470px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 1em;
}


li {
    list-style-type: None;
    font-size: 16px;
    color: #fff;
    background: black;
}


#image .over {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4px 6px;
    font-size: 13px;
    color: #fff;
    background: #222;
    background: rgba(0, 0, 0, .7);
}


.main {
    padding: 16px;
    margin-top: 50px;
    position: relative;
    transition: margin-left .5s;
}

.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 40px;
    padding: 10px;
}

.nopad {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*image gallery*/
.image-checkbox {
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*border: 100px solid transparent;*/
    /*margin-bottom: 0;*/
    outline: 0;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    margin-top: 30px;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.image-checkbox-checked {
    border-color: Red;
}

.image-checkbox .fa {
    position: absolute;
    color: white;
    background-color: Red;
    padding: 10px;
    top: 0;
    right: 0;
}

.image-checkbox-checked .fa {
    display: block !important;
}

#view {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
}

footer {
    width: 100%;
    padding-right: 20px;
    background: #333;
    color: white;
    text-align: right;
    position: fixed;
    z-index: 10;
    bottom: 0;
}
