<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HG annotator</title>
    <meta name="description"
          content="A lightweight jQuery plugin for creating fluid galleries as seen on Flickr and Google Images.">
    <link rel="shortcut icon" href="https://hyung-gun.me/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300">
    <link rel="stylesheet" href="https://cdn.rawgit.com/yahoo/pure-release/v0.6.0/pure-min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/yahoo/pure-release/v0.6.0/pure-min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.flex-images.css') }}">
</head>
<body>
<div id="mySidenav" class="sidenav">
    <a href="/">Home</a>
    <a href="/">Scrapper</a>
    <a href="/stats">Statistic</a>
    <a href="/annotator">Annotator</a>
    <a href="/viewer">Viewer</a>
</div>

<form action="/gallery" method="get" class="navbar">
    <span style="font-size:30px;cursor:pointer;float:left;" onclick="toggleNav()">&#9776;</span>

    <div style="width:10%;float:left;font-size:30px;padding:0 40px;color:white; ">Scrapper</div>

    <div class="custom-select" style="width:10%;">
        <select id="cad" name="cad" style="z-index: 99">
            <option value="">CAD</option>
            <option value=0 selected>All</option>
            <option value=1>ME444</option>
            <option value=2>3DW</option>
            <option value=3>grabCAD</option>
        </select>
    </div>
    <div class="custom-select" style="width:10%;">
        <select id="keyword" name="keyword" style="z-index:99">
            <option value="" selected>KEYWORD</option>
            {% for keyword in keywords %}
            <option value="{{keyword}}">{{keyword.upper()}}</option>
            {% endfor %}
        </select>
    </div>

    <input class="submit" style="width:10%" id="search" type="submit" value="SEARCH">
    <button id="delete" type="button" class="submit" onclick="changeItem(); return false;"
            style="width:10%;float:right;margin-right: 20px">DELETE
    </button>
    <div  style="width:10%;float:left;color:white;margin-left: 80px;margin-top: 10px;font-size: 20px;font-family: Arial,serif;">
        <span>{{img_info|length}} models found</span>
    </div>
</form>

<div class="main" id="main">
    <div id="image" class="flex-images">
        {% for idx, rows in img_info.iterrows() %}
        <div class="item nopad" style="max-width:290px" id={{rows['id']}}>
            <label class="image-checkbox">
                <img class="img-responsive" src="/image/{{rows['id']}}" data-src="/image/{{rows['id']}}" alt="{{rows['id']}}">
                <input type="checkbox" name="image" value={{rows['id']}}>
                <i class="fa fa-check hidden"></i>
                <div class="over">{{rows['name']}}
                    <button id="view" onclick="openView('{{rows["id"]}}')">3D View</button>
                </div>
            </label>
        </div>
        {% endfor %}
    </div>
</div>

<footer>
    <p>© Hyung-gun Chi. All rights reserved. E-mail: <a href="mailto:chi45@purdue.edu">chi45@purdue.edu</a></p>
</footer>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{{ url_for('static', filename='js/jquery.flex-images.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<script>
    $('#image').flexImages({truncate: 1});

    if (~window.location.href.indexOf('http')) {
        (function () {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=114593902037957";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'twitter-wjs');
    }
</script>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const cad = urlParams.get('cad');
    const keyword = urlParams.get('keyword');

    cad_selection = document.getElementById('cad');
    try {
        cad_selection.selectedIndex = cad_selection.querySelector('option[value="' + cad + '"]').index;
    } catch (err) {
        cad_selection.selectedIndex = 0;
    }

    keyword_selection = document.getElementById('keyword');
    try {
        keyword_selection.selectedIndex = keyword_selection.querySelector('option[value="' + keyword + '"]').index;
    } catch (err) {
        keyword_selection.selectedIndex = 0;
    }

    var x, i, j, selElmnt, a, b, c, ul;
    /*look for any elements with the class "custom-select":*/
    x = document.getElementsByClassName("custom-select");
    for (i = 0; i < x.length; i++) {
        selElmnt = x[i].getElementsByTagName("select")[0];
        /*for each element, create a new DIV that will act as the selected item:*/
        a = document.createElement("DIV");
        a.setAttribute("class", "select-selected");
        a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
        x[i].appendChild(a);
        /*for each element, create a new DIV that will contain the option list:*/
        b = document.createElement("DIV");
        b.setAttribute("class", "select-items select-hide");
        ul = document.createElement("UL");
        b.appendChild(ul);
        for (j = 1; j < selElmnt.length; j++) {
            /*for each option in the original select element,
            create a new DIV that will act as an option item:*/
            c = document.createElement("LI");
            c.innerHTML = selElmnt.options[j].innerHTML;
            c.addEventListener("click", function (e) {
                /*when an item is clicked, update the original select box,
                and the selected item:*/
                var y, i, k, s, h;
                s = this.parentNode.parentNode.parentNode.getElementsByTagName("select")[0];
                h = this.parentNode.parentNode.previousSibling;
                for (i = 0; i < s.length; i++) {
                    if (s.options[i].innerHTML == this.innerHTML) {
                        s.selectedIndex = i;
                        h.innerHTML = this.innerHTML;
                        y = this.parentNode.parentNode.getElementsByClassName("same-as-selected");
                        for (k = 0; k < y.length; k++) {
                            y[k].removeAttribute("class");
                        }
                        this.setAttribute("class", "same-as-selected");
                        break;
                    }
                }
                h.click();
            });
            ul.appendChild(c);
        }
        x[i].appendChild(b);
        a.addEventListener("click", function (e) {
            /*when the select box is clicked, close any other select boxes,
            and open/close the current select box:*/
            e.stopPropagation();
            closeAllSelect(this);
            this.nextSibling.classList.toggle("select-hide");
            this.classList.toggle("select-arrow-active");
        });
    }

    function closeAllSelect(elmnt) {
        /*a function that will close all select boxes in the document,
        except the current select box:*/
        var x, y, i, arrNo = [];
        x = document.getElementsByClassName("select-items");
        y = document.getElementsByClassName("select-selected");
        for (i = 0; i < y.length; i++) {
            if (elmnt == y[i]) {
                arrNo.push(i)
            } else {
                y[i].classList.remove("select-arrow-active");
            }
        }
        for (i = 0; i < x.length; i++) {
            if (arrNo.indexOf(i)) {
                x[i].classList.add("select-hide");
            }
        }
    }

    /*if the user clicks anywhere outside the select box,
    then close all select boxes:*/
    document.addEventListener("click", closeAllSelect);

    $(".image-checkbox").each(function () {
        if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
            $(this).addClass('image-checkbox-checked');
        } else {
            $(this).removeClass('image-checkbox-checked');
        }
    });

    // sync the state to the input
    $(".image-checkbox").on("click", function (e) {
        $(this).toggleClass('image-checkbox-checked');
        var $checkbox = $(this).find('input[type="checkbox"]');
        $checkbox.prop("checked", !$checkbox.prop("checked"));
        e.preventDefault();
    });
</script>
</body>
</html>
