html {
  box-sizing: border-box;
  zoom: 70%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.frame {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#section4 {
  margin-left: 80px;
  font-size: 20px;
}

#sice{
  display: block;
}

#section2 {
  margin-left: 40px;
  font-family: Segoe UI, serif;
}

#section3 {
  margin-left: 40px;
  font-size: 20px;
  font-family: Segoe UI, serif;
}

#json{
  font-size: 16px;
  font-family: Segoe UI, serif;
  display: block;
  width: 50em;
}

table{
  table-layout: fixed;
  width: 100%;
  font-family: Segoe UI, serif;

}

#explane{
  font-size: 15px;
  font-family: Segoe UI;
  display: block;
  width: 30em;
  color: brown;
}

.submit {
  margin-left: 12px;
}

#subclass{
  font-size: 18px;
  font-family: Segoe UI;
  display: block;
  width: 10em;
  font-size: 30px;
}

img {
  height: 20px;
  width: 20px;
}

#subsubclass{
  font-size: 13px;
  font-family: Segoe UI;
  display: block;
  margin-left: 40px;
  font-size: 25px;
  width: 20em;
}

body {
  margin:0 auto;
  float: left;
}

#objName{
  text-align: left;
  font-family: Segoe UI;
  font-size: 25px;
  float: left;
  width: 100%;
}

#left {
  width: 50px;
  float: left;
  display: inline-block;

}
#right {
  width: 50px;
  float: left;
  display: inline-block;

}
#canvasDiv {
  float: right;
  display: inline-block;
}
#form {
  float: left;
  display: inline-block;
}
canvas {
  position: absolute;
  display: inline-block;
  width: 53.15%;
  height: 100%;
  float: right;
}

#myform {
  margin:0;
  width:100%;
  float: left;
  position:relative;
  padding-top: 5px;
  overflow-y:scroll;
  height:1022px;
}

label {
  width: 8em;
  float: left;
  margin-right: 0.5em;
  display: block;
  vertical-align: middle;
  font-size: 35px;
}

label2 {
  width: 10em;
  float: left;
  margin-right: 0.8em;
  display: block;
  vertical-align: middle;
  font-size: 15px;
}
#btn {
  float:center;
  margin-left: 10px;
}

fieldset {
  background:#EBF4FB none repeat scroll 0 0;
  border:2px solid #B7DDF2;
  width: 1000px;
}

legend {
  color: #fff;
  background: #80D3E2;
  border: 1px solid #781351;
  padding: 2px 6px;
}
.elements {
  width: 100%;
  padding:10px;
  position: relative;
  font-family: Segoe UI, serif;

}

.labels0 {
  border: 2px solid #ccc;
  width: 100%;
  height: 160px;
  overflow-y: scroll;
}
.labels1 {
  border: 2px solid #ccc;
  width: 100%;
  height: 160px;
  overflow-y: scroll;
}
.labels2 {
  border: 2px solid #ccc;
  width: 100%;
  height: 400px;
  overflow-y: scroll;
}

.comments{
  width: 100%;
  padding:10px;
  font-family: Segoe UI;
}

.fileName {
  border-bottom:1px;
  solid: #B7DDF2;
  color:#666666;
  font-size:12px;
  margin-bottom:20px;
  padding-bottom:10px;
  display: inline-block;
}
span {
  color:#666666;
  font-size:12px;
  margin-bottom:1px;

}
.btn{
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  border: 1px solid #B7DDF2;

}

.btn:hover{
  color: #333333;
  background-color: #e6e6e6;
}
